.MaximumOverride {
  padding: 12px;
}

::-webkit-scrollbar {
  width: 40px;
}

.emptyState {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--silver);
  text-align: left;
  z-index: 100;

  p {
    width: 320px;
    margin-bottom: 0.25em;
    font-size: var(--font-size-xlarge);

    &.centered {
      text-align: center;
    }
  }

  .logo {
    width: 320px;
    height: 200px;
    background: url(./maximum_override_logo_2x.png);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.expand-collapse {
  border-radius: 100%;
  opacity: 0.5;
  transition: opacity 0.1s;

  .icon {
    background-size: 150%;
  }
}

.buttons {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 8px;

  button {
    margin-right: 8px;
    cursor: pointer;

    &:disabled {
      cursor: default;
    }
  }

}

.icon {
  background-size: contain;
}

.content {
  background-color: var(--silver);
  border-radius: 8px;
  overflow: hidden;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-weight: bold;
  font-size: var(--font-size-large);
  // border-bottom: 1px solid rgba(0,0,0,0.15);
  background-color: rgba(0,0,0,0.1);
  padding: 0 14px 0 0;
  height: 36px;
  overflow: hidden;
  cursor: pointer;

  .expand-collapse {
    margin-left: -2px;
    margin-right: -8px;
  }

  .icon {
    width: 24px;
    height: 24px;
    background-position: center;
    pointer-events: none;
  }

  .arrow {
    margin: 0 4px;
  }

  .compare-node {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 40%;
  }

  &:hover {
    .expand-collapse {
      opacity: 1;
    }
  }

  &--loading {
    padding-left: 22px;
  }

}

.diff {
  position: relative;
  font-size: var(--font-size-small);
  display: flex;
  flex-flow: row nowrap;
  background-color: var(--silver);
  padding: 8px 8px 16px 16px;
  height: 500px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  &--collapsed {
    display: none;
  }
}

.nodes {
  width: 100%;
}

.node {
  position: relative;
  text-align: left;
  border-left: 1px solid rgba(0,0,0,0.1);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 4px 0 0 5px;
  margin-left: 9px;

  &--top {
    border-left: none;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 24px;
  }

  .expand-collapse {
    margin-right: -6px;
  }

  .icon {
    width: 20px;
    height: 20px;
    background-position: center;
    overflow: hidden;
  }

  .title {
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 0;
    border-radius: 4px;
    pointer-events: none;
    max-width: 100%;

    &--collapsible {
      pointer-events: inherit;
      cursor: pointer;
    }

    .node-name {
      max-width: calc(100% - 36px);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &:hover > .expand-collapse {
        opacity: 1;
    }


  }

  .props {
    width: 100%;

    .prop {
      display: flex;
      position: relative;
      align-items: center;
      padding: 2px 6px;
      background: #fff;
      border-radius: 4px;
      margin: 0 8px 4px;
      max-width: fit-content;

      &--inline {
        display: inline-flex;
      }

      &:first-child {
        margin-top: 4px;
      }

      .value {
        display: inline-flex;
        color: var(--purple);
        max-width: 70%;
        overflow: hidden;
        padding: 0 2px;

        .string {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .key, .arrow {
        text-transform: capitalize;
        color: var(--hud)
      }

      span:not(:first-child) {
        margin-left: 2px;
      }
    }

    .color {
      display: inline-flex;
      align-items: center;
      position: relative;
      margin: 0 2px;
    }

    .rgbColor {
      display: inline-flex;
      align-items: center;
      position: relative;
      width: 13px;
      height: 13px;
      border: 1px solid #333;
      border-radius: 4px;
      margin-right: 2px;
      
      &--none {
        border-color: #ccc;
      }
      
      &--none::before {
        position: absolute;
        display: flex;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        content: "╳";
        right: 0;
        bottom: 0;
        top: 0;
        left: 0;
        color: #999;
      }

    }
  }
}

.hasTooltip {
  cursor: default;
  transition: all 0.15s;
  // box-shadow: 0 2px 4px rgba(0,0,0,0);
  
  &::after {
    content: attr(data-tooltip);
    position: absolute;
    font-size: var(--font-size-xsmall);
    bottom: 1.5em;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    max-width: 300px;
    background: #333;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.15s;
    transition-delay: 0;
    pointer-events: none;
  }
  
  &:hover {
    // box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    border-radius: 4px;
    z-index: 10;
    
    &::after {
      transition-delay: 0.35s;
      opacity: 1;
    }
  }
}