.MaximumOverride {
  padding: 12px;
}

::-webkit-scrollbar {
  width: 40px;
}

.emptyState {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--silver);
  text-align: left;
  z-index: 100;

  p {
    width: 320px;
    margin-bottom: 0.25em;
    font-size: var(--font-size-xlarge);

    &.centered {
      text-align: center;
    }
  }

  .logo {
    width: 320px;
    height: 200px;
    background: url(./maximum_override_logo_2x.png);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.buttons {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 8px;

  button {
    margin-right: 8px;
  }
}

.icon {
  background-size: contain;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-weight: bold;
  font-size: var(--font-size-large);
  background-color: var(--silver);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  margin-bottom: 1px;
  padding: 8px 14px;
  height: 32px;
  overflow: hidden;

  .icon {
    width: 24px;
    height: 24px;
    background-position: center;
  }

  .arrow {
    margin: 0 4px;
  }

}

.diff {
  position: relative;
  font-size: var(--font-size-small);
  display: flex;
  flex-flow: row nowrap;
  background-color: var(--grey);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 12px 8px 16px 16px;
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.node {
  position: relative;
  text-align: left;
  border-left: 1px solid rgba(0,0,0,0.15);
  padding: 4px 0 0 5px;
  margin-left: 9px;
  // border-bottom-left-radius: 8px;

  // &::before {
  //   content: '';
  //   position: absolute;
  //   bottom: 0;
  //   left: 4px;
  //   height: 1px;
  //   width: 10px;
  //   background: linear-gradient(to right, rgba(0,0,0,0.15), rgba(0,0,0,0));
  // }

  &--top {
    border-left: none;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 24px;
  }

  .icon {
    width: 20px;
    height: 20px;
    background-position: center;
  }

  .title {
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 0;
  }

  .props {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    // margin-bottom: 2px;

    .prop {
      display: inline-flex;
      position: relative;
      align-items: center;
      padding: 2px 4px;
      background: #fff;
      border-radius: 4px;
      margin: 0 4px 4px;

      .value {
        display: inline-block;
        color: var(--purple);
        max-width: 140px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding: 0 2px;
      }

      .key, .arrow {
        text-transform: capitalize;
        color: var(--hud)
      }

      span {
        position: relative;
      }

      span:not(:first-child) {
        margin-left: 2px;
      }
    }

    .rgbColor {
      display: inline-flex;
      align-items: center;
      position: relative;
      width: 12px;
      height: 12px;
      border: 1px solid #333;
      border-radius: 4px;
      
      &--none {
        border-color: #ccc;
      }
      
      &--none::before {
        position: absolute;
        display: flex;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        content: "╳";
        right: 0;
        bottom: 0;
        top: 0;
        left: 0;
        color: #999;
      }

    }
  }
}

.hasTooltip {
  cursor: default;
  transition: all 0.15s;
  box-shadow: 0 2px 4px rgba(0,0,0,0);
  
  &::after {
    content: attr(data-tooltip);
    position: absolute;
    font-size: var(--font-size-xsmall);
    bottom: 1.5em;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    max-width: 300px;
    background: #333;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
  }
  
  &:hover {
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    border-radius: 4px;
    z-index: 10;

    &::after {
      opacity: 1;
    }
  }
}